.DS_Store
target/

### Ignore VS Code (Java Plugin) files ###
.classpath
.project
.settings/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

### Ignore Intellij IDEA specific files ###
.idea
*.iws
*.iml
*.ipr
